@cora:registry=https://pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:username='Eugene Walsh'
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:_password=M29remV6Mmd5czN1NndzM2I3cHBybmYyeXlqaTc3cmdwNXY0b3FmZnVmb2M1YW0ycXlncQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:email=npm requires email to be set but doesn't use the value
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:username='Eugene Walsh'
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:_password=M29remV6Mmd5czN1NndzM2I3cHBybmYyeXlqaTc3cmdwNXY0b3FmZnVmb2M1YW0ycXlncQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:email=npm requires email to be set but doesn't use the value
; end auth token
