@cora:registry=https://pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:username=CoraSystems
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:_password=cm9xYXptNmx5MmpidjU1dXhyYXd1eW1seGtzcGNpbWxmM3h4bm1vbHdhdWJyNXBxbGFkcQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:email=ewalsh@corasystems.com
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:username=CoraSystems
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:_password=cm9xYXptNmx5MmpidjU1dXhyYXd1eW1seGtzcGNpbWxmM3h4bm1vbHdhdWJyNXBxbGFkcQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:email=ewalsh@corasystems.com
; end auth token
