@cora:registry=https://pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/ 
                        
always-auth=true

; begin auth token
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:username=CoraSystems
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:_password=anh6bnVsNXB1aTdscHljbW13dHg2cXV5dW1ieDdjYnB3b25rdXoyeHBhNG1jaG10YjQ0YQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/registry/:email=ewalsh@corasystems.com
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:username=CoraSystems
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:_password=anh6bnVsNXB1aTdscHljbW13dHg2cXV5dW1ieDdjYnB3b25rdXoyeHBhNG1jaG10YjQ0YQ==
//pkgs.dev.azure.com/CoraSystems/_packaging/cora-component-library/npm/:email=ewalsh@corasystems.com
; end auth token
