@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '@styles/abstracts/variables';

.layoutContentBodyHeader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
