@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';

.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.rightContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  
  button {
    margin-left: 20px;
  }
}